* {
  cursor: url("assets/icons8-top-view-fish-50.png") 10 10, auto !important;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
a {
  font-size: 20px;
}
/*Barra de navegação (Hannah)*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  color: rgb(0, 0, 0);
  padding: 20px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  display: flex;
}
.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}
.navbar a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*Primeira página/página inicial (Hannah)*/
.container {
  display: flex-box;
  height: 100vh;
  background: #60efff;
  background: linear-gradient(
    180deg,
    rgba(96, 239, 255, 1) 35%,
    rgba(33, 12, 174, 1) 100%
  );
}

.landing-page {
  padding: 10rem;
  width: 300px;
  height: 300px;
}
.landing-page img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 30rem;
}
.landing-page h1 {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 2s ease forwards;
}
@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.landing-page button {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 2s ease forwards;
  margin-top: 30px;
  width: 350px;
  height: 55px;
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}
.landing-page button a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
button:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}
/*Segunda página (Fernanda) */
#segunda {
  background: white;
  background-size: cover;
  margin: 100px auto;
  max-width: 900px;
  padding: 20px;
  text-align: center;
  scroll-margin-top: 500px;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 2s ease forwards;
}

/* Imagem da segunda página */ /*Arrumando a responsividade*/
.img {
  display: block;
  width: 90%;
  max-width: 670px;
  margin: 100px auto 0 auto;
  border-radius: 30px;
  box-shadow: 17px 24px 6.3px 0px #00000080;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 2s ease forwards;
}
/*Formatação terceira pagina (fernanda)*/
#terceira {
  background: linear-gradient(180deg, #60efff 0%, #210cae 100%);
  background-size: cover;
  height: 100vh;
  margin: 0;
}
#quadrado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
}
.square {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  box-shadow: 28px 42px 14.5px 0px #00000085;
  border: 1px solid #00000042;
}
.title {
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}
/*Quiz (Felype)*/
.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(96, 239, 255, 1) 35%,
    rgba(33, 12, 174, 1) 100%
  );
}
.questions button {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 2s ease forwards;
  margin-top: 30px;
  width: 350px;
  height: 55px;
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}
.quiz {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(96, 239, 255, 1) 35%,
    rgba(33, 12, 174, 1) 100%
  );
  display: none;
}
.qzn2 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Rodapé (Kauan)*/
footer {
  background-color: #ffffff;
  color: blue;
  padding: 30px 0;
  text-align: center;
}
form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}
form input[type="button"] {
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
form input[type="button"]:hover {
  background-color: rgb(9, 42, 231);
}
form input[type="button"]:active {
  background-color: #ce0fd4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(3px);
}
footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
}
footer a img {
  margin-top: 10px;
}
footer h1,
footer h2,
footer h3 {
  color: #ffe066;
}

.mensagem-agradecimento {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  display: none;
}
