body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
a {
  font-size: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  color: rgb(0, 0, 0);
  padding: 20px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  display: flex;
}
.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}

/*Formatação segunda pagina (fernanda)*/
#segunda {
  background: white;
  background-size: cover;
  height: 50vh;
  text-align: right;
  margin-top: -420px;
  margin-right: 170px;
  margin-left: 1100px;
}
.img {
  width: 670px;
  margin-top: 250px;
  margin-left: 130px;    
  border-radius: 30px;
  box-shadow: 17px 24px 6.3px 0px #00000080;
}

/*Formatação terceira pagina (fernanda)*/
#terceira {
  background: linear-gradient(180deg, #60EFFF 0%, #210CAE 100%);
  background-size: cover;
  height: 100vh;
  margin: 0;
}
#quadrado {
display: flex;
justify-content: space-around; /* Distribui os quadrados uniformemente */
align-items: center; /* Centraliza verticalmente */
min-height: 90vh; /* Garante que a página ocupe toda a altura da viewport */
margin: 0;
margin-left: 70px;
margin-right: 70px;
}
.square {
background-color: white;
padding: 20px;
border-radius: 30px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
text-align: center;
width: 250px; /* Largura dos quadrados */
box-shadow: 28px 42px 14.5px 0px #00000085; /*sombra do quadrado*/
border: 1px solid #00000042
}
.title {
font-weight: bold;
margin-bottom: 10px;
}

h2 {
  text-align: center;
}
